Package: biglinux-deb-installer
Version: 1.0.0-1big2
Conflicts: deepin-deb-installer-tweaks, deepin-deb-installer
Replaces: deepin-deb-installer-tweaks, deepin-deb-installer
Depends: bigbashview, rxvt-unicode, kdialog, x11-utils, sed, xtermset
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:136
Description: Simple interface for installing .deb packages

